* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

/* PAGE BACKGROUND */
body {
  min-height: 100vh;
  background:
    radial-gradient(
      circle at center,
      rgba(255, 215, 130, 0.08),
      transparent 60%
    ),
    linear-gradient(to bottom, #0b0c0f, #050608);
  color: #e7d7a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
main {
  width: 100%;
  max-width: 520px;
}

/* BOX */
section {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.04),
    rgba(0, 0, 0, 0.7)
  );
  padding: 35px;
  border-radius: 18px;
  border: 1px solid rgba(255, 215, 130, 0.5);
  box-shadow:
    0 0 10px rgba(255, 215, 130, 0.35),
    inset 0 0 80px rgba(0, 0, 0, 0.7);
}

/* TITLE */
section h2 {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 25px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INPUT GROUP */
form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* LABEL */
label {
  font-size: 0.9rem;
  opacity: 0.8;
  padding-right: 0.9rem;
}

/* INPUTS */
input,
select {
  padding: 12px 14px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 215, 130, 0.3);
  border-radius: 10px;
  color: #e7d7a3;
  outline: none;
}

/* FILE UPLOAD */
.upload {
  padding: 30px;
  border: 2px dashed rgba(255, 215, 130, 0.4);
  text-align: center;
  cursor: pointer;
}

form p {
  font-size: 0.8rem;
  opacity: 0.6;
  text-align: center;
}

/* BUTTON ROW */
.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* BUTTONS */
button {
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

/* CANCEL */
.cancel {
  /* background: transparent;
  color: #e7d7a3; */
  background: linear-gradient(135deg, #f3e2a2, #e4c262);
  color: #050608;
  opacity: 0.7;
}

/* SAVE */
.save {
  background: linear-gradient(135deg, #f3e2a2, #e4c262);
  color: #050608;
  box-shadow: 0 0 5px rgba(243, 226, 162, 0.6);
}

/* HOVER */
.save:hover {
  transform: translateY(-1px);
}
